<article class="event">
  <div class="event-info">
    <h1><%= event.title %></h1>
    <p>
      Organizado por:
      <a href="<%= organizationPath(event.organization.id) %>"><%= event.organization.name %></a>
    </p>
  </div>
  <div class="event-detail">
    <div>
      <img src="<%= event.photo %>" />
      <% if (locals.currentUser) { %>
        <div id="rsvp-app" data-event-id="<%= event.id %>" data-user-id="<%= currentUser.id %>"></div>
        <!-- <form action="<%= attendancePath %>" method="post">
          <button
            class="btn"
            type="submit"
            <%= isCurrentUserAttending ? 'disabled' : '' %>
          >
            <%= isCurrentUserAttending ? 'Ya marcaste tu asistencia' : 'Asistiré' %>
          </button>
        </form> -->
      <% } else { %>
        <a href="<%= paths.newSession %>" class="btn">Asistiré</a>
      <% } %>
    </div>
    <div>
      <ul>
        <li><strong>Cuándo</strong>: <%= event.happensAt.toDateString() %></li>
        <li><strong>Dónde</strong>: Streaming por <em><%= event.platform %></em></li>
      </ul>
    </div>
  </div>
</div>
